.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 420px;
    margin: 20px auto;
    color: black;
}

.list-item {
    background: #ffffff;
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    user-select: none;
}

.list-item h3 {
    margin: 0;
    font-size: 18px;
}

.list-item p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
}

.live-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.badge-live {
    background: #c144efff;
    /* red-500 */
    color: white;
    padding: 6px 14px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}